### Stock DB with SQL

In [1]:
import sqlalchemy
import pandas as pd 
import yfinance as yf

In [2]:
wiki = 'https://en.wikipedia.org/wiki/'

In [3]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [4]:
tickersDow = pd.read_html(wiki + 'Dow_Jones_Industrial_Average')[1].Symbol.to_list()

In [5]:
len(tickersDow)

30

In [6]:
def getdata(tickers):
    data = []
    for ticker in tickers:
        #reset the index in order to obtain date as a column 
        data.append(yf.download(ticker).reset_index())
    return data

In [7]:
US = getdata(tickersDow)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
len(US)

30

In [9]:
#store the list of df in a database

def createengine(name):
    engine = sqlalchemy.create_engine('sqlite:///'+name)
    return engine

In [10]:
USengine = createengine('USA')

In [11]:
def toSQL(frames, symbols, engine):
    for frame, symbol in zip(frames, symbols):
        frame.to_sql(symbol, engine, index=False)
    print('Data Successfully Imported')

In [12]:
toSQL(US, tickersDow, USengine)

Data Successfully Imported

In [13]:
pd.read_sql('AAPL',USengine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100178,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094952,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087983,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090160,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092774,73449600
...,...,...,...,...,...,...,...
10455,2022-06-01,149.899994,151.740005,147.679993,148.710007,148.710007,74286600
10456,2022-06-02,147.830002,151.270004,146.860001,151.210007,151.210007,72348100
10457,2022-06-03,146.899994,147.970001,144.460007,145.380005,145.380005,88471400
10458,2022-06-06,147.029999,148.570007,144.899994,146.139999,146.139999,71598400
10459,2022-06-07,144.350006,149.000000,144.100006,148.710007,148.710007,67713600

In [14]:
pd.read_sql('SELECT * FROM AAPL WHERE Close > Open', USengine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1982-10-04 00:00:00.000000,0.082589,0.084263,0.080357,0.083705,0.065334,69328000
1,1982-10-05 00:00:00.000000,0.083705,0.085938,0.083705,0.084263,0.065769,80236800
2,1982-10-06 00:00:00.000000,0.084263,0.090402,0.084263,0.090402,0.070561,173532800
3,1982-10-07 00:00:00.000000,0.090960,0.098214,0.090960,0.097656,0.076223,311673600
4,1982-10-08 00:00:00.000000,0.097656,0.105469,0.097098,0.104911,0.081885,275542400
...,...,...,...,...,...,...,...
4751,2022-05-25 00:00:00.000000,138.429993,141.789993,138.339996,140.520004,140.520004,92482700
4752,2022-05-26 00:00:00.000000,137.389999,144.339996,137.139999,143.779999,143.779999,90601500
4753,2022-05-27 00:00:00.000000,145.389999,149.679993,145.259995,149.639999,149.639999,90978500
4754,2022-06-02 00:00:00.000000,147.830002,151.270004,146.860001,151.210007,151.210007,72348100
4755,2022-06-07 00:00:00.000000,144.350006,149.000000,144.100006,148.710007,148.710007,67713600