### Momentum Trade Strategy based on Sp500

In [1]:
import yfinance as yf 
import numpy as np 
import pandas as pd 
import datetime as dt
from pandas.tseries.offsets import MonthEnd

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers = df.Symbol.to_list()

In [5]:
len(tickers)

505

In [6]:
df2 = yf.download(tickers, start='2009-12-31',end='2020-12-31')

[*********************100%***********************]  505 of 505 completed

4 Failed downloads:
- OGN: Data doesn't exist for startDate = 1262246400, endDate = 1609401600
- CEG: Data doesn't exist for startDate = 1262246400, endDate = 1609401600
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [7]:
df2

             Adj Close                                                \
                     A        AAL         AAP        AAPL       ABBV
Date
2009-12-31   20.284763   4.562869   38.596611    6.471692        NaN
2010-01-04   20.434929   4.496876   38.501266    6.572423        NaN
2010-01-05   20.212959   5.005957   38.272415    6.583786        NaN
2010-01-06   20.141132   4.798554   38.606144    6.479064        NaN
2010-01-07   20.115025   4.939965   38.596611    6.467087        NaN
...                ...        ...         ...         ...        ...
2020-12-24  116.487816  15.660000  158.205872  131.549637  97.521835
2020-12-28  117.004181  16.059999  156.354828  136.254608  97.701279
2020-12-29  116.408386  15.860000  154.277313  134.440399  98.881798
2020-12-30  116.567268  16.150000  155.232376  133.294067  99.420135
2020-12-31         NaN        NaN         NaN         NaN        NaN

                                                                       ...  \
                  ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                   ...
2009-12-31  21.637018    8.730000   19.608143   32.882652   36.779999  ...
2010-01-04  22.101795    8.740000   19.778837   33.334293   37.090000  ...
2010-01-05  21.944103    8.530000   19.619041   33.540314   37.700001  ...
2010-01-06  21.736616    8.400000   19.727999   33.896870   37.619999  ...
2010-01-07  21.388039    8.400000   19.891426   33.865173   36.889999  ...
...               ...         ...         ...         ...         ...  ...
2020-12-24  95.198929  303.410004  106.325661  253.501236  499.859985  ...
2020-12-28  95.032036  312.910004  105.776146  255.846100  498.950012  ...
2020-12-29  95.346191  320.929993  106.306046  253.954453  502.109985  ...
2020-12-30  95.189117  323.920013  106.413994  253.737717  497.450012  ...
2020-12-31        NaN         NaN         NaN         NaN         NaN  ...

               Volume                                                         \
                 WYNN        XEL         XOM       XRAY       XYL        YUM
Date
2009-12-31  1090200.0  1364700.0  18852300.0   489300.0       NaN  1790217.0
2010-01-04  4741400.0  2670400.0  27809100.0  1051400.0       NaN  2962274.0
2010-01-05  5644300.0  4321400.0  30174700.0   763400.0       NaN  3298757.0
2010-01-06  2738800.0  2164500.0  35044700.0  1595100.0       NaN  4178981.0
2010-01-07  2388500.0  3041700.0  27192100.0  1096100.0       NaN  2452472.0
...               ...        ...         ...        ...       ...        ...
2020-12-24   850900.0   598400.0   8039000.0   217600.0  249700.0   340400.0
2020-12-28  1912000.0  1799800.0  23877500.0   576400.0  408600.0  1822900.0
2020-12-29  1262500.0  1761400.0  20287700.0   458300.0  501900.0  1818300.0
2020-12-30  2087100.0  1296400.0  23807300.0   527500.0  418200.0  1267900.0
2020-12-31        NaN        NaN         NaN        NaN       NaN        NaN


                  ZBH      ZBRA        ZION        ZTS
Date
2009-12-31   562300.0  184800.0   3239800.0        NaN
2010-01-04   782400.0  168800.0   3974600.0        NaN
2010-01-05  1718100.0  168800.0   5605500.0        NaN
2010-01-06  1277300.0  385300.0  12615200.0        NaN
2010-01-07  1683500.0  183600.0  24716800.0        NaN
...               ...       ...         ...        ...
2020-12-24   283800.0  138300.0    327700.0   417400.0
2020-12-28   684000.0  251200.0    835600.0  1522400.0
2020-12-29   735700.0  185500.0   1084100.0  1188400.0
2020-12-30   427600.0  166100.0    728400.0  1009000.0
2020-12-31        NaN       NaN         NaN        NaN

[2773 rows x 3030 columns]

In [8]:
#filter only for the adjusted close prices 
prices = df2['Adj Close']

In [9]:
prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,20.284763,4.562869,38.596611,6.471692,NaN,21.637018,8.730000,19.608143,32.882652,36.779999,...,38.204296,13.972967,42.586075,32.558609,NaN,19.832857,54.307629,28.350000,10.949375,NaN
2010-01-04,20.434929,4.496876,38.501266,6.572423,NaN,22.101795,8.740000,19.778837,33.334293,37.090000,...,41.963722,13.880784,43.185635,32.706741,NaN,19.900913,55.143688,28.670000,11.376082,NaN
2010-01-05,20.212959,5.005957,38.272415,6.583786,NaN,21.944103,8.530000,19.619041,33.540314,37.700001,...,44.515926,13.716161,43.354244,32.317924,NaN,19.832857,56.889324,28.620001,11.777193,NaN
2010-01-06,20.141132,4.798554,38.606144,6.479064,NaN,21.736616,8.400000,19.727999,33.896870,37.619999,...,43.932003,13.742503,43.728951,32.530827,NaN,19.691071,56.870949,28.400000,12.801299,NaN
2010-01-07,20.115025,4.939965,38.596611,6.467087,NaN,21.388039,8.400000,19.891426,33.865173,36.889999,...,44.870213,13.683238,43.591576,32.956680,NaN,19.685396,58.175583,27.690001,14.235042,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,116.487816,15.660000,158.205872,131.549637,97.521835,95.198929,303.410004,106.325661,253.501236,499.859985,...,114.389999,62.861973,38.760460,51.450123,98.975151,105.278336,148.288025,376.890015,42.045433,159.582993
2020-12-28,117.004181,16.059999,156.354828,136.254608,97.701279,95.032036,312.910004,105.776146,255.846100,498.950012,...,115.470001,63.533092,38.890903,51.936626,99.093628,107.471237,147.930344,382.589996,42.064831,161.241165
2020-12-29,116.408386,15.860000,154.277313,134.440399,98.881798,95.346191,320.929993,106.306046,253.954453,502.109985,...,114.309998,63.630360,38.452984,50.884193,98.244576,107.148163,151.467392,378.040009,41.492458,161.966003
2020-12-30,116.567268,16.150000,155.232376,133.294067,99.420135,95.189117,323.920013,106.413994,253.737717,497.450012,...,113.400002,63.854073,38.760460,51.092693,99.498413,107.206902,151.238876,383.750000,41.929020,163.107880
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#transform index from string to datetime index 
prices.index = pd.to_datetime(prices.index)

In [38]:
#claculate monthly returns 
mtl_ret = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1 if x.isnull().sum() == 0 else np.nan)

In [39]:
mtl_ret

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-31,-0.097843,0.097107,-0.025445,-0.088597,NaN,0.045646,-0.092783,-0.012287,-0.012289,-0.121805,...,0.062683,-0.020735,-0.055140,-0.046630,NaN,-0.015991,-0.047200,-0.079365,0.478566,NaN
2010-02-28,0.122368,0.380414,0.034220,0.065396,NaN,0.031652,0.276515,0.025311,-0.024884,0.072755,...,0.027311,0.001443,0.015428,-0.013123,NaN,-0.014323,0.017933,0.094636,-0.022124,NaN
2010-03-31,0.093134,0.002728,0.028855,0.148470,NaN,0.031383,0.020772,-0.029477,0.049537,0.020779,...,0.192858,0.030484,0.030462,0.055622,NaN,0.136714,0.032618,0.036052,0.177993,NaN
2010-04-30,0.054376,-0.038095,0.075859,0.111021,NaN,0.066736,-0.065891,-0.020672,0.049417,-0.050042,...,0.163655,0.025943,0.011794,0.050745,NaN,0.112380,0.028885,-0.018581,0.315477,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,0.042458,0.173561,0.041095,0.216569,0.009061,-0.027564,0.025605,0.087738,0.067399,0.155451,...,0.207373,0.006228,-0.032131,0.006054,0.102198,0.057867,0.044639,0.020588,0.000060,0.055512
2020-09-30,0.005178,-0.058238,-0.016387,-0.102526,-0.085413,-0.001134,-0.099343,-0.005846,-0.058100,-0.044722,...,-0.178845,-0.000379,-0.140461,-0.023121,0.049139,-0.047470,-0.031941,-0.118905,-0.091418,0.032917
2020-10-31,0.013217,-0.082181,-0.040521,-0.060012,-0.015197,-0.008770,-0.090883,-0.030963,-0.036420,-0.088351,...,0.008634,0.014781,-0.049811,0.079122,0.035901,0.022234,-0.029675,0.123505,0.104381,-0.040041
2020-11-30,0.145068,0.252660,0.002852,0.095493,0.228907,0.077750,0.088217,0.029588,0.148356,0.070163,...,0.387547,-0.038126,0.197117,0.078406,0.104466,0.138709,0.128842,0.334156,0.206209,0.011542
2020-12-31,0.004192,0.142958,0.069091,0.123225,0.006598,-0.059645,0.181759,0.002033,0.033924,0.039668,...,0.128358,-0.018935,0.091004,0.013156,0.050120,0.035066,0.022436,0.014085,0.119979,0.024255

In [40]:
#calculate past 11 month returns
past_11 = (mtl_ret+1).rolling(11).apply(np.prod)-1

In [41]:
past_11

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,0.319327,-0.512767,-0.050330,1.327460,0.355781,0.200144,0.729271,0.329877,0.267866,0.858425,...,-0.182117,0.091698,-0.396381,-0.152452,0.020346,-0.138893,0.032637,0.388429,-0.251750,0.292416
2020-09-30,0.341565,-0.588310,-0.049105,0.880673,0.146411,0.155960,0.334714,0.317768,0.233536,0.764581,...,-0.398242,0.114996,-0.457823,-0.194266,0.108238,-0.085255,-0.007289,0.061336,-0.375556,0.298542
2020-10-31,0.274813,-0.606065,-0.056272,0.640576,0.023722,0.107678,0.283923,0.249469,0.095606,0.444448,...,-0.395633,0.168646,-0.495152,-0.157580,0.135879,-0.059302,-0.083491,0.130310,-0.333026,0.323086
2020-11-30,0.379151,-0.505501,-0.072134,0.635663,0.246549,0.234379,0.606777,0.265556,0.201922,0.450744,...,-0.270229,0.081683,-0.409929,-0.093918,0.234159,0.070543,0.002583,0.481444,-0.228649,0.218729
2020-12-31,0.431063,-0.396063,0.205878,0.743075,0.352959,0.153428,0.738794,0.258708,0.270243,0.416671,...,-0.093599,-0.026222,-0.276846,-0.072326,0.250465,0.055282,0.037413,0.605514,-0.013992,0.229212

In [42]:
formation = dt.datetime(2010,12,31)
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [43]:
end_measurement = formation - MonthEnd(1)
end_measurement

Timestamp('2010-11-30 00:00:00')

In [44]:
ret_12 = past_11.loc[end_measurement]
ret_12

A       0.127133
AAL     1.305785
AAP     0.636045
AAPL    0.476534
ABBV         NaN
          ...
YUM     0.462839
ZBH    -0.166638
ZBRA    0.285361
ZION    0.518742
ZTS          NaN
Name: 2010-11-30 00:00:00, Length: 505, dtype: float64

In [45]:
ret_12 = ret_12.reset_index()
ret_12

    index  2010-11-30 00:00:00
0       A             0.127133
1     AAL             1.305785
2     AAP             0.636045
3    AAPL             0.476534
4    ABBV                  NaN
..    ...                  ...
500   YUM             0.462839
501   ZBH            -0.166638
502  ZBRA             0.285361
503  ZION             0.518742
504   ZTS                  NaN

[505 rows x 2 columns]

In [46]:
#set new decile column based on from percetage change in ten quantiles 
ret_12['decile'] = pd.qcut(ret_12.iloc[:,1],10,labels=False,duplicates='drop')

In [47]:
ret_12

    index  2010-11-30 00:00:00  decile
0       A             0.127133     4.0
1     AAL             1.305785     9.0
2     AAP             0.636045     9.0
3    AAPL             0.476534     8.0
4    ABBV                  NaN     NaN
..    ...                  ...     ...
500   YUM             0.462839     8.0
501   ZBH            -0.166638     0.0
502  ZBRA             0.285361     7.0
503  ZION             0.518742     8.0
504   ZTS                  NaN     NaN

[505 rows x 3 columns]

In [48]:
winners = ret_12[ret_12.decile == 9]
losers = ret_12[ret_12.decile == 0]

In [49]:
winners

    index  2010-11-30 00:00:00  decile
1     AAL             1.305785     9.0
2     AAP             0.636045     9.0
21   AKAM             1.059590     9.0
24    ALK             0.591435     9.0
30    AME             0.553939     9.0
52    AZO             0.641108     9.0
56   BBWI             0.864175     9.0
64   BKNG             0.804176     9.0
73    BWA             0.816376     9.0
103   CMG             1.932055     9.0
104   CMI             1.142577     9.0
115   CRM             0.887217     9.0
123  CTXS             0.596491     9.0
141  DLTR             0.706522     9.0
144   DPZ             0.762530     9.0
159    EL             0.564749     9.0
169   ETN             0.558272     9.0
173    EW             0.528152     9.0
175  EXPD             0.535437     9.0
178     F             0.594000     9.0
187  FFIV             1.489711     9.0
197  FTNT             0.813887     9.0
215   HAS             0.523130     9.0
216  HBAN             0.608253     9.0
238  ILMN             0.959583     9.0
239  INCY             0.592755     9.0
245  IPGP             0.713090     9.0
250    IT             0.783259     9.0
286   LVS             2.352075     9.0
329  NFLX             2.737520     9.0
353  ORLY             0.578699     9.0
385   PVH             0.672280     9.0
387   PXD             0.665363     9.0
391   RCL             0.592168     9.0
403  ROST             0.533684     9.0
427  SWKS             0.793516     9.0
443  TMUS             0.592398     9.0
444   TPR             0.562760     9.0
448  TSCO             0.616725     9.0
458   UAA             1.116978     9.0
459   UAL             1.144074     9.0
462  ULTA             0.924560     9.0
466   URI             1.000000     9.0
495  WYNN             0.884940     9.0

In [50]:
winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners['index'])]
loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers['index'])]

In [51]:
momentum_profit = winnerret.mean() - loserret.mean()
momentum_profit

-0.03911758221149329

In [52]:
def momentum(formation):
    end_measurement = formation - MonthEnd(1)
    ret_12 = past_11.loc[end_measurement]
    ret_12 = ret_12.reset_index()
    ret_12['decile'] = pd.qcut(ret_12.iloc[:,1],10,labels=False,duplicates='drop')
    winners = ret_12[ret_12.decile == 9]
    losers = ret_12[ret_12.decile == 0]
    winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners['index'])]
    loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers['index'])]
    momentum_profit = winnerret.mean() - loserret.mean()
    return momentum_profit

In [53]:
momentum(formation)

-0.03911758221149329

In [54]:
for i in range(12*10):
    print(formation + MonthEnd(i))

2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00

In [55]:
profits = []
dates = []

for i in range(12*10):
    profits.append(momentum(formation + MonthEnd(i)))
    dates.append(formation+MonthEnd(i))

In [56]:
data_set = {"dates":dates,"profits":profits}
df_neo = pd.DataFrame(data=data_set)

In [57]:
df_neo

         dates   profits
0   2010-12-31 -0.039118
1   2011-01-31  0.034417
2   2011-02-28  0.016915
3   2011-03-31 -0.025250
4   2011-04-30 -0.001654
..         ...       ...
115 2020-07-31 -0.021341
116 2020-08-31  0.025086
117 2020-09-30 -0.020655
118 2020-10-31 -0.188091
119 2020-11-30 -0.013610

[120 rows x 2 columns]

In [58]:
profits

[-0.03911758221149329,
 0.03441739419279537,
 0.016914687990640553,
 -0.025249696579765623,
 -0.0016542163273741617,
 0.047023722091740244,
 0.03535443809780374,
 0.029649547631718363,
 -0.01912581111163006,
 -0.06759877462295413,
 0.048375103938347756,
 -0.012909173157622954,
 -0.11035467981455327,
 -0.01724951643015335,
 0.023959252304621863,
 0.07168070196556561,
 0.03635384883333353,
 -0.018942547123623355,
 0.001649804766525569,
 -0.02433339300560116,
 -0.018741545031525107,
 0.00201219566003686,
 0.024734986552943747,
 -0.0018109553443920665,
 -0.00952974858160105,
 -0.0029670020335522025,
 0.013682243446184066,
 -0.010227371693888394,
 0.009899511073017689,
 -0.020806724554904232,
 0.030341893369254788,
 0.01168023645891512,
 0.043475933522103286,
 0.02780853926110713,
 0.03431761944216367,
 -0.010520572063325948,
 0.01785445470941803,
 0.016694233908055627,
 -0.05325882464178597,
 -0.06085738967553998,
 0.032437380560097276,
 0.014978856959111848,
 -0.01802461846837842,
 0.001716311788660968,
 -0.0028231368141129233,
 0.004053443628547107,
 0.01571377146151631,
 0.013079490725367238,
 0.044264969186877695,
 -0.04365778475583282,
 0.0528854627573843,
 -0.07594574020610942,
 0.06678570071173776,
 0.023860838988427658,
 0.09194419634110901,
 0.03626426379674366,
 0.06195164595651538,
 -0.06614920666462001,
 0.023407441929159563,
 0.036624413513388104,
 0.013017803845468495,
 -0.06886906033549145,
 -0.038169064751544246,
 -0.05588974511304867,
 0.024301217926896008,
 0.0561298958569287,
 -0.018597540004448375,
 -0.08132118744586475,
 -0.010495826002857448,
 -0.005594590669865826,
 -0.05677846592109464,
 -0.007664521312717759,
 -0.004020634394245486,
 -0.005779114138670813,
 0.014773890781118246,
 -0.0013153684225455714,
 0.060129373643238046,
 -0.0270481121726033,
 0.014421421860397807,
 0.04900722855782743,
 -0.006072439523154449,
 0.08807057117923361,
 -0.03534663099264263,
 -0.05938999139941834,
 0.047509066910446957,
 0.06290060374671146,
 -0.005180477908787397,
 -0.029445766803900254,
 0.08657455020999208,
 -0.0647444168256843,
 -0.020741126858315206,
 0.07728052066022598,
 0.006750054713392231,
 -0.06263931529935533,
 -0.026868917745710083,
 0.028543786813982328,
 -0.057905956496206695,
 0.02824374899909575,
 0.01753121312167718,
 -0.0400317492358333,
 0.10376161701835399,
 -0.06591080275660377,
 0.03300859337897004,
 0.10694994074850203,
 -0.0990498531208027,
 -0.0311239956747689,
 -0.0394713774159852,
 -0.029906029278764328,
 0.05781020555176353,
 0.04787209085906992,
 0.13259582185215685,
 -0.12089149505653463,
 0.05011036752021211,
 -0.05466270668383893,
 0.12002861577430571,
 -0.021341421416695733,
 0.02508586503687651,
 -0.020654702919739556,
 -0.1880907392598279,
 -0.013609585820577391]

In [59]:
sp = yf.download('^GSPC',start=dates[0],end=dates[-1])

[*********************100%***********************]  1 of 1 completed

In [60]:
sp = sp['Adj Close']

In [61]:
sp_mtl = sp.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1)

In [62]:
sp_mtl

Date
2010-12-31    0.000000
2011-01-31    0.022646
2011-02-28    0.031957
2011-03-31   -0.001047
2011-04-30    0.028495
                ...
2020-07-31    0.055101
2020-08-31    0.070065
2020-09-30   -0.039228
2020-10-31   -0.027666
2020-11-30    0.112659
Freq: M, Name: Adj Close, Length: 120, dtype: float64

In [63]:
frame_n = pd.DataFrame(profits)

In [65]:
frame_n['SP500'] = sp_mtl.values

In [66]:
frame_n

            0     SP500
0   -0.039118  0.000000
1    0.034417  0.022646
2    0.016915  0.031957
3   -0.025250 -0.001047
4   -0.001654  0.028495
..        ...       ...
115 -0.021341  0.055101
116  0.025086  0.070065
117 -0.020655 -0.039228
118 -0.188091 -0.027666
119 -0.013610  0.112659

[120 rows x 2 columns]

In [67]:
frame_n['excess'] = frame_n.iloc[:,0] - frame_n.iloc[:,1]

In [68]:
frame_n

            0     SP500    excess
0   -0.039118  0.000000 -0.039118
1    0.034417  0.022646  0.011772
2    0.016915  0.031957 -0.015042
3   -0.025250 -0.001047 -0.024202
4   -0.001654  0.028495 -0.030150
..        ...       ...       ...
115 -0.021341  0.055101 -0.076443
116  0.025086  0.070065 -0.044979
117 -0.020655 -0.039228  0.018573
118 -0.188091 -0.027666 -0.160425
119 -0.013610  0.112659 -0.126268

[120 rows x 3 columns]

In [69]:
frame_n['outperform'] = ['Yes' if i > 0 else 'No' for i in frame_n.excess]

In [70]:
frame_n

            0     SP500    excess outperform
0   -0.039118  0.000000 -0.039118         No
1    0.034417  0.022646  0.011772        Yes
2    0.016915  0.031957 -0.015042         No
3   -0.025250 -0.001047 -0.024202         No
4   -0.001654  0.028495 -0.030150         No
..        ...       ...       ...        ...
115 -0.021341  0.055101 -0.076443         No
116  0.025086  0.070065 -0.044979         No
117 -0.020655 -0.039228  0.018573        Yes
118 -0.188091 -0.027666 -0.160425         No
119 -0.013610  0.112659 -0.126268         No

[120 rows x 4 columns]

In [71]:
frame_n[frame_n.outperform == 'Yes'].shape

(47, 4)

In [72]:
frame_n.shape

(120, 4)

In [73]:
47/120

0.39166666666666666